<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RGCompanion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RGCompanion.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="RGCompanion.Properties.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RGCompanion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RGCompanion.Properties.Settings>
            <setting name="RuffleGamePath" serializeAs="String">
                <value>assets/ruffle_game.exe</value>
            </setting>
        </RGCompanion.Properties.Settings>
        <RGCompanion.Properties.AppSettings>
            <setting name="Version" serializeAs="String">
                <value>1</value>
            </setting>
        </RGCompanion.Properties.AppSettings>
        <RGCompanion.Properties.Application>
            <setting name="Version" serializeAs="String">
                <value>1</value>
            </setting>
        </RGCompanion.Properties.Application>
    </applicationSettings>
    <userSettings>
        <RGCompanion.Properties.Settings>
            <setting name="LastTitle" serializeAs="String">
                <value>Game</value>
            </setting>
            <setting name="LastIconPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSWFPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOutputPath" serializeAs="String">
                <value />
            </setting>
        </RGCompanion.Properties.Settings>
    </userSettings>
</configuration>